
.breadCrumbItem{
    background-color: #a79248;
    /* background-color: rgb(228, 230, 233); */
    border-radius: 10px;
    /* padding: %; */
    /* width: 100%; */
    border: 2px solid rgb(255, 255, 255);
}

.breadCrumbItem .icon{
    padding: 5%;
    /* color: rgb(77, 77, 77); */
    color: var(#a79248);
}

.show{
    opacity: 1;
}
.hide{
    opacity: 0;
}

.FullPageError{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(#a79248)
}